<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="view-transition" content="same-origin">
  <title>
    <%= siteTitle %>
  </title>
  <link rel="stylesheet" href="/dist/css/styles.css" />
  <%- include('../favicon') -%>
</head>

<body>
  <script src="/dist/js/main.js"></script>
  <script src="https://kit.fontawesome.com/92eb8681b8.js" crossorigin="anonymous"></script>
</body>

</html>