<%- include('../layout/base') -%>

    <% if (user) { %>
        <p>
            id: <%= user.id %>,
                email: <%= user.email %>,
                    name: <%= user.name %>
        </p>
        <% } %>