<%- include('../layout/base') -%>

    <form method="post">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="name" placeholder="name">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirm" placeholder="confirm">
        <button type="submit">Join</button>
    </form>
    <%- include('../partials/social') %>
        <span>Already have an account? <a href="/login">Login &rarr;</a></span>