<%- include('../layout/base') -%>

    <form method="post">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Log in</button>
    </form>