<%- include('../layout/base') -%>

    <form method="post">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Log in</button>
    </form>
    <div>Don't have an account? <a href="/join">Join &rarr;</a></div>
    <div>Did you forget your email? <a href="/find-password">Find password &rarr;</a></div>