<%- include('../layout/base') -%>

    <form class="login-form form">
        <input type="email" name="email" placeholder="email" class="email">
        <input type="password" name="password" placeholder="password" class="password">
        <button type="submit">Submit</button>
    </form>