<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= siteTitle %>
    </title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <h1>
        <%= pageTitle %> Page
    </h1>
    <% if (!user) { %>
        <form method="post">
            <input type="email" name="email" id="" placeholder="email">
            <button type="submit">Send</button>
        </form>
        <form method="post">
            <input type="text" name="authNumber" id="" placeholder="auth number">
            <button type="submit">Check</button>
        </form>
        <% } else { %>
            <form method="post">
                <input type="password" name="password" id="" placeholder="password">
                <input type="password" name="confirm" id="" placeholder="confirm">
                <button type="submit">Submit</button>
            </form>
            <% } %>
                <script src="https://kit.fontawesome.com/92eb8681b8.js" crossorigin="anonymous"></script>
</body>

</html>