<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= siteTitle %>
  </title>
  <link rel="stylesheet" href="/dist/css/styles.css" />
</head>

<body>
  <main class="password">
    <h1 class="password__title">
      <%= pageTitle %> Page
    </h1>
    <% if (!user) { %>
      <form method="post" class="password__form">
        <input type="email" name="email" id="" placeholder="email" class="password__form-email" />
        <button type="submit" class="password__form-button">Send</button>
      </form>
      <form method="post" class="password__form">
        <input type="text" name="authNumber" id="" placeholder="auth number" class="password__form-authNumber" />
        <button type="submit" class="password__form-button">Check</button>
      </form>
      <% } else { %>
        <form method="post" class="password__form">
          <input type="password" name="password" id="" placeholder="password" class="password__form-password" />
          <input type="password" name="confirm" id="" placeholder="confirm" class="password__form-confirm" />
          <button type="submit" class="password__form-button">Submit</button>
        </form>
        <% } %>
  </main>
  <script src="https://kit.fontawesome.com/92eb8681b8.js" crossorigin="anonymous"></script>
</body>

</html>