<%- include('../layout/base') -%>

    <% if(videos) {%>
        <% for(const video of videos) {%>
            <div>
                <video src="/<%= video.path %>"></video>
            </div>
            <%}%>
                <% } %>