<%- include('../layout/base') -%>

  <div class="root">
    <%- include('../partials/header') -%>
      <main class="upload">
        <form enctype="multipart/form-data" method="post" class="upload__form">
          <input type="file" name="video" id="" accept="video/*" class="upload__form-file" />

          <input type="text" name="title" id="" placeholder="title" class="upload__form-title" />
          <textarea name="description" id="" cols="20" rows="5" placeholder="description"
            class="upload__form-description"></textarea>
          <button type="submit" class="upload__form-button">Upload</button>
        </form>
      </main>
      <%- include('../partials/footer') -%>
  </div>