.root {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

main {
  grid-area: main;
  padding-top: 1%;
}

video {
  width: 100%;
}

li {
  list-style: none;

  :focus {
    cursor: pointer;
  }
}

button:hover {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}