<header>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/products/insert">INSERT</a></li>
    </ul>
</header>