<%- include('base') -%>

    <% if (user) { %>
        <span>
            <%= user.id %>
                <%= user.email %>
        </span>
        <% } %>
            <script src="/public/auth.js"></script>