<%- include('base') -%>

    <div>
        <form method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="price" placeholder="price">
            <button type="submit">Submit</button>
        </form>
    </div>