<%- include('base') -%>

    <% if (!user) {%>
        <form method="post">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="confirm" placeholder="confirm">
            <button type="submit">Submit</button>
        </form>
        <% } %>