<%- include('base') -%>

    <% if (!user) {%>
        <form class="form">
            <input type="email" name="email" placeholder="email" class="email">
            <input type="password" name="password" placeholder="password" class="password">
            <button type="submit">Submit</button>
        </form>
        <% } %>
            <script src="/public/main.js"></script>