<header class="header">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/login" class="login-link">LOGIN</a></li>
        <li><a href="/join">JOIN</a></li>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/products/insert">INSERT</a></li>
    </ul>
</header>