<header>
    <div>
        <a href="/">Express</a>
    </div>
    <div>
        <form action="/search">
            <input type="text" name="query" id="" placeholder="search">
            <button type="submit">
                <!-- fontawesome icon -->
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <div>
        <ul>
            <% if (user) { %>
                <li>
                    <a href="/users/<%= user.id %>">Profile</a>
                </li>
                <li>
                    <a href="/videos/upload">Upload</a>
                </li>
                <li>
                    <a href="/videos">Videos</a>
                </li>
                <li>
                    <a href="/users/logout">Logout</a>
                </li>
                <% } else {%>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <% } %>
        </ul>
        <!-- User info link -->
    </div>
</header>