<header class="header">
  <div class="header-logo">
    <a href="/">Express</a>
  </div>
  <div class="header-search">
    <form action="/search" class="header-search__form">
      <input type="text" name="query" id="" placeholder="search" />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <div class="header-info">
    <ul class="header-info__ul">
      <% if (user) { %>
      <li>
        <a href="/users/<%= user.id %>">Profile</a>
      </li>
      <li>
        <a href="/videos/upload">Upload</a>
      </li>
      <li>
        <a href="/videos">Videos</a>
      </li>
      <li>
        <a href="/users/logout">Logout</a>
      </li>
      <% } else { %>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <% } %>
    </ul>
    <!-- User info link -->
  </div>
</header>
