<section class="social">
  <div class="social-github">
    <a href="/oauth/github">
      <span>
        <i class="fa-brands fa-github"></i>
      </span>
    </a>
  </div>
  <div class="social-facebook">
    <a href="/oauth/facebook">
      <span>
        <i class="fa-brands fa-facebook"></i>
      </span>
    </a>
  </div>
  <div class="social-google">
    <a href="/oauth/google">
      <span>
        <i class="fa-brands fa-google"></i>
      </span>
    </a>
  </div>
  <div class="social-naver">
    <a href="/oauth/naver">
      <span>NAVER</span>
    </a>
  </div>
  <div class="social-kakao">
    <a href="/oauth/kakao">
      <span>KAKAO</span>
    </a>
  </div>
</section>
