<div>
    <div>
        <!-- TODO: github oauth -->
        <div>
            <a href="/users/github">
                <span>
                    <i class="fa-brands fa-github"></i>
                </span>
            </a>
        </div>
        <!-- TODO: facebook oauth -->
        <div>
            <a href="/users/facebook">
                <span>
                    <i class="fa-brands fa-facebook"></i>
                </span>
            </a>
        </div>
        <!-- TODO: gogole oauth -->
        <div>
            <a href="/users/google">
                <span>
                    <i class="fa-brands fa-google"></i>
                </span>
            </a>
        </div>
        <!-- TODO: naver oauth -->
        <div>
            <a href="/users/naver">
                <span>NAVER</span>
            </a>
        </div>
        <!-- TODO: kakao oauth -->
        <div>
            <a href="/users/kakao">
                <span>KAKAO</span>
            </a>
        </div>
    </div>
</div>