.index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &-container {
    justify-self: center;

    &__link {
      display: grid;
      grid-template-rows: 1fr 0.35fr;

      video {
        width: 350px;
        height: 200px;
        object-fit: fill;
      }

      &-metadata {
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        padding-top: 1%;

        &-photo {
          align-self: center;

          img {
            width: 50px;
            border-radius: 10px;
          }


        }

        &-info {
          &__title {}

          &-viewCreatedAt {
            padding-top: 1%;
            display: flex;

            &>span:not(&>span:first-child) {
              padding-left: 1%;
            }
          }
        }
      }
    }
  }

}