.password {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  &__title,
  &__form {
    justify-self: center;
    align-self: center;
  }
  &__form {
    display: grid;
    grid-template-areas:
      "input input"
      "button button";
    &-email {
      grid-area: input;
    }
    &-authNumber {
      grid-area: input;
    }
    &-button {
      grid-area: button;
    }
  }
}
